/*CSS for Introduction HTML file */

.title {
 align-content: center;
 background-color: white;  
 color: blue;
 font-family: Georgia;
 font-size: 50px;
 
}

.text, .instructions {
 background-color: white;
 color: red;
 font-family: Georgia;
 font-size: 25px;
}
