/*CSS for Introduction HTML file */

.title {
 text-align: center;
 color: purple;
 display: block;
 font-family: Georgia;
 font-size: 50px;
 word-wrap: break-word;
 width: 100px;
}

.text, .instructions {
 text-align: center;
 color: green;
 display: block;
 font-family: Georgia;
 font-size: 25px;
 word-wrap: break-word;
 width: 100px;
}

.child {
 text-align: center;
 color: blue;
 font-family: Helvetica;
 font-size: 12px;
 word-wrap: break-word;
 width: 100px;
}
