/*CSS for Introduction HTML file */

.title {
 text-align: center;
 color: purple;
 display: block;
 font-family: Georgia;
 font-size: 50px;
 
}

.text, .instructions {
 text-align: center;
 color: red;
 display: block;
 font-family: Georgia;
 font-size: 25px;
}
